extends layout

block content
    div(class="bgImg")
        div(class="topbar")
            p(class="route053") ALL STORES
            input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
    div(class="list")
        ul(class="displaylist")
    //- .card-deck-wrapperlist
    //-     .card-deck
    //-         // Card 1
    //-         .card