doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  body
    // jQuery library
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/javascripts/startpage.js')
    script(src='/javascripts/culturechoice.js')
    block content
    //Firebase
    script(src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js")
    script(src='/javascripts/firebasedata.js')
   
    // Popper
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    // Latest compiled and minified Bootstrap JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    //- script(src='/javascripts/premadepool1.js')
    //- script(src='/javascripts/premadepool2.js')
    //- script(src='/javascripts/premadefilm.js')
    //- script(src='/javascripts/premadeeroom.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvWowINkJ_lj33IsorxVR90LKK26E7MmA&libraries=places&callback=initMap")


   