extends layout

block content
    script.
        //- generateQRCode('qr-code', 'premadeRoutes');
        // change QR link
    div(class="bgImg")
    div(class="topbar")
        p(class="route053") Route 053
        input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
    /* create 2 column cssgrid inside route-wrapper */
    div(class="route-wrapper")
        div.map(id="bridge")
        /* qr code needs to be set to position relative to be displayed */
        div(class="route-information")
            img(class="qr-code")
            div(class="textundercode")
                p(class="qrtext") 1. Scan de #[span QR Code] #[br]
                p(class="qrtext") 2. Scan de #[span QR Code] #[br]
                p(class="qrtext") 3. #[span Veel plezier] met uw route
    script(src='/javascripts/premadepool1.js')