extends layout

block content
    div(class="bgImg")
        div(class="topbar")
            p(class="route053") Restaurant
            input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
    .card-deck-wrapper1
        .card-deck
            // Card 1
            .card.text-center(onclick="allStores()")
                img.card-img-top(src='/images/fun.jpg', alt='Fun')
                .card-body
                    h5 Money
                    //- p.card-text Alles van poolen tot musea en veel meer
            // Card 2
            .card.text-center(onclick="allStores()")
                img.card-img-top(src='/images/shopping.jpg', alt='Shopping')
                .card-body
                    h5 Categories
                    //- p.card-text Jij kiest de winkels en wij maken de route