extends layout

block content
    div(class="bgImg")
        div(class="topbar")
            p(class="route053") Route
            input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
    div(class="bgroup" )
        .btn(onclick='determineMultipleRoute("Clothes for Children")') Clothes for Children
        .btn(onclick='determineMultipleRoute("Clothes for Family")') Clothes for Family
        .btn(onclick='determineMultipleRoute("Clothes for Men")') Clothes for Men
        .btn(onclick='determineMultipleRoute("Clothes for Men and Women")') Clothes for Men and Women
        .btn(onclick='determineMultipleRoute("Clothes for Women")') Clothes for Women
        .btn(onclick='determineMultipleRoute("Lingerie")') Lingerie
        .btn(onclick='determineMultipleRoute("Shoes")') Shoes
        .btn(onclick='determineMultipleRoute("Sport Clothes")') Sport Clothes
        .btn(onclick='determineMultipleRoute("Presents")') Presents
        .btn(onclick='determineMultipleRoute("Warenhuis")') Warenhuis
        .btn(onclick='determineMultipleRoute("Toys")') Toys
        .btn(onclick='determineMultipleRoute("Electronics")') Electronics
        .btn(onclick='determineMultipleRoute("Drogisterij")') Drogisterij
        .btn(onclick='determineMultipleRoute("Jewlery")') Jewelry  