extends layout

block content
    div(id="category" class="makemegopoof") !{category}
    script.
        window.onload = function(){
            var category = document.getElementById('category').textContent;
            console.log("peop2");
            doroute(category);
        }
    div(class="bgImg")
    .card-container.routecard
    div(class="topbar")
        p(class="route053") List of !{category}
        input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
        div(class="submit-button inactive" onclick="submitZones()") Submit