extends layout

block content
    div(id="category" class="makemegopoof") !{category}
    script.
        window.onload = function(){
            var category = document.getElementById('category').textContent;
            dospecific(category);
        }
    div(class="bgImg")
    .card-container.specificcard
    div(class="topbar")
        p(class="route053") List of !{category}
        input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
    // make a message, in the middle of the screen
    // that says some shit like "Loading..."
    // once you receive the data back from the API
    // use jQuery to change the innerHTML or w/e