extends layout

block content
    script(src='/javascripts/startpage.js')
    div(id="category" class="makemegopoof") !{category}
    script.
        var category = document.getElementById('category').textContent;
        console.log("peop");
        dospecific(category);
    div(class="bgImg")
        //- div.myownbitchassbutton(onclick=`dothing('${category}')`) click me whore
        div(class="topbar")
            p(class="route053") List of !{category}
            input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
        .card-columns-wrapperM
            .card-columns.specificcard
    // make a message, in the middle of the screen
    // that says some shit like "Loading..."
    // once you receive the data back from the API
    // use jQuery to change the innerHTML or w/e