extends layout

block content
    div(class="bgImg" onload="createButtons")
        div(class="topbar")
            p(class="route053") Something specific
            input(type="image" src="/images/back.png" class="backbutton" alt="Back button" onclick="goBack()")
    div(class="bgroup" )
        .btn(onclick='determineMultipleRoute("Clothes for Children")')
            img.cat-img(src="/images/icons/Children.png") 
            p.cat-p Kinderen
        .btn(onclick='determineMultipleRoute("Clothes for Family")')
            img.cat-img(src="/images/icons/Family.png") 
            p.cat-p Familie
        .btn(onclick='determineMultipleRoute("Clothes for Men")')
            img.cat-img(src="/images/icons/Men.png") 
            p.cat-p Man
        .btn(onclick='determineMultipleRoute("Clothes for Men and Women")') 
            img.cat-img(src="/images/icons/MenWoman.png") 
            p.cat-p Man en Vrouw
        .btn(onclick='determineMultipleRoute("Clothes for Women")')
            img.cat-img(src="/images/icons/Woman.png") 
            p.cat-p Vrouw
        .btn(onclick='determineMultipleRoute("Lingerie")') 
            img.cat-img(src="/images/icons/Lingerie.png") 
            p.cat-p Lingerie
        .btn(onclick='determineMultipleRoute("Shoes")')
            img.cat-img(src="/images/icons/Shoes.png") 
            p.cat-p Schoenen
        .btn(onclick='determineMultipleRoute("Sport Clothes")')
            img.cat-img(src="/images/icons/SportClothes.png") 
            p.cat-p Sport
        .btn(onclick='determineSpecificRoute("Presents")')
            img.cat-img(src="/images/icons/Presents.png") 
            p.cat-p Kadeau
        .btn(onclick='determineSpecificRoute("Warenhuis")')
            img.cat-img(src="/images/icons/Warenhuis.png") 
            p.cat-p Warenhuis
        .btn(onclick='determineSpecificRoute("Toys")')
            img.cat-img(src="/images/icons/Toys.png") 
            p.cat-p Speelgoed
        .btn(onclick='determineSpecificRoute("Electronics")')
            img.cat-img(src="/images/icons/Electronics.png") 
            p.cat-p Elektronica
        .btn(onclick='determineSpecificRoute("Drogisterij")')
            img.cat-img(src="/images/icons/Drogisterij.png") 
            p.cat-p Drogisterij
        .btn(onclick='determineSpecificRoute("Jewlery")')
            img.cat-img(src="/images/icons/Jewlery.png") 
            p.cat-p Juwelen

        