@font-face {
  font-family: Paragon;
  src: url("/fonts/Paragon_Medium.ttf");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.clickable {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 100;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position:fixed;
}

.clickable:hover {
  cursor: pointer;
}

.bgImg {
  background: url("/images/bg.jpg");
  /* background-color: #aaeaf9; */
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: scroll;
  background-position: 50% 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.logo {
  content: url("/images/logo.png");
  position: fixed;
  width: 60%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}


p.frontPage {
  font-family: Paragon;
  font-size: 30px;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p > span {
  color: #c73534;
}


.greybg {
  background: url("/images/bgtheme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: scroll;
  background-position: 50% 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;

}

.topbar {
  background-color: #c73534;
  min-width: 100vw;
  height: 10%;
  top: 0;
  position: fixed;
}

.route053 {
  font-family: Paragon;
  font-size: 60px;
  color: white;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 5.5%;
  left: 50%;

  /* z-index: 5; */
}

.backbutton {
  /* content: url("/images/back.png"); */
  position: fixed;
  width: 50px;
  height: auto;
  top: 2%;
  left: 1%;
}


.map {
  width: 520px;
  height: 520px;
  top: 130px;
  left: 30px;
  /* bottom: 10%; */
}

/** ### QR Code ### */

.qrcodet {
  /* content: url("/images/poolroute.png"); */
  position: fixed;
  width: 350px;
  height: 350px;
  top: 18%;
  left: 60%;
}

.qrcode {
  content: url("/images/qrcodes/poolbridge.png");
  position: fixed;
  width: 350px;
  height: 350px;
  top: 18%;
  left: 60%;
}

.textundercode {
  position: fixed;
  width: 350px;
  height: 270px;
  top: 63%;
  left: 60%;
}

.qrtext {
  font-family: Paragon;
  font-size: 30px;
  position: relative;
  top: 15%;
  left: 7%;
}

/** ### end QR */

.img-padding {
  max-width: 200px;
  position: relative;
  left: 18%;
  padding-top: 15px;
  padding-bottom: 15px;

  /* padding-left: 15px; */
}

.img-padding-t {
  max-width: 290px;
  position: relative;
}

.form-check-label {
  font-size: 20px;
}

#checkbox101, #checkbox102, #checkbox103 {
  top: 20%;
}

.bgroup {
  position: fixed;
  top: 15%;  
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  /* bootstrap was rewriting flex to inline-block */
  display: flex !important; 
  align-items: center;
  justify-content: center;
  width: auto;
  min-height: 150px;
  min-width: 175px;
  background-color: #F5F5F5;
  margin-top: 20px;
  margin-bottom: 20px;  
}

#submit-options {
  -moz-box-shadow:inset 0px 34px 0px 0px #c73424;
	-webkit-box-shadow:inset 0px 34px 0px 0px #c73424;
  box-shadow:inset 0px 34px 0px 0px #c73424;
  position: relative;
  background-color:#a82519;
  border:1px solid #241d13;
  cursor:pointer;
	color:#ffffff;
	font-family:Roboto;
	font-size:20px;
	font-weight:bold;
	padding:21px 35px;
	text-decoration:none;
  text-shadow:2px 1px 0px #7a2a1d;
  top: 600px;
  left: 450px;
}

.makemegopoof {
  opacity: 0;
}

.myownbitchassbutton {
  padding: 10px;
  width: 50px;
  height: 30px;
  display: block;
  margin-top: 300px;
  background-color: white;
}

/** Cards (Specific Ones) */
.card-container {
  margin: 75px auto;
  display: grid;
  max-width: 90vw;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.card-deck-wrapper {
  position: fixed;
  top: 35%;  
  left: 5%;
}

.card-deck-wrapper1 {
  position: fixed;
  top: 35%;  
  left: 22%;
}

.card-deck-wrapperS {
  position: fixed;
  top: 35%;  
  left: 15%;
}

.card-columns-wrapperM {
  max-width: 90vw;
  margin: 75px auto;
}


.card-body {
  min-width: 290px;
  max-width: 291px;
  color: #ffffff;
  background-color: #c73534;
  font-family: Roboto;
  box-sizing: border-box;
}

/* route pages */

/* ### TEMPORARY PLACEMENT */
.qr-code {
  position: relative;
  z-index: 200;
  left: 630px;
  top: -390px;
  min-width: 320px;
}

.route-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1;
}

/** Submit Button in Top bar */
.submit-button {
  position: relative;
  width: 100px;
  left: 700px;
  top: 10px;

  text-align: center;
  border: 1px #fff solid;
  padding: 4px;
  border-radius: 4px;
  color: #c73534;
  background-color: #fff;
}

.inactive {
  background-color: transparent;
  color: grey;
}

.counting {
  color: #fff;
  background-color: transparent;
}

.selected-card {
  border: 5px solid #c73534 !important;
}

